<form action='/list/dog/images' method='POST' class='mb-4'>
  <h3>
    Formats
  </h3>

  <div class='d-flex'>
    <select name='format' class='form-select w-25' style='margin-right: 0.5rem;'>
      <option value='jpg'>
        jpg
      </option>
      <option value='gif'>
        gif
      </option>
      <option value='png'>
        png
      </option>
      <option value='jpeg'>
        jpeg
      </option>
    </select>

    <button class='btn btn-primary' type='submit' value='Filter'>
      Filter
    </button>
  </div>
</form>

<h3>
  Dog list
</h3>

{{#if dogs.length}}
  <ul class="list-group">
    {{#each dogs}}
      <li class="list-group-item">
        <label>
          <div>
            <img src='{{image}}' alt='#' width='{{width}}' height='{{height}}' />
            <input type='hidden' value='{{_id}}' name='id' />
          </div>
        </label>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>
    No dogs!
  </p>
{{/if}}